.sidebar {
  width: 220px;
  background-color: #111827;
  color: white;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2.logo {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  color: #00b4d8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 15px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s;
}

.sidebar ul li:hover {
  background-color: #1f2937;
  border-radius: 6px;
}

.dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu {
  list-style: none;
  padding-left: 25px;
  margin-top: 5px;
}

.submenu li {
  padding: 8px 0;
  font-size: 14px;
  color: #d1d5db;
}

.submenu li:hover {
  color: #fff;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  background-color: #ef4444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #dc2626;
}

#img{

width: 190px;
height: 80%;

}